* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main-content"
        "footer";
    height: 100vh;
    .header {
        grid-area: header;
        background-color: #4CAF50;
        color: white;
        text-align: center;
        padding: 1rem;
    }
    
    .main-content {
        grid-area: main-content;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 20px;
        padding: 20px;
        .body-content {
            background-color: #f4f4f4;
            padding: 20px;
        }
        
        .sidebar {
            background-color: #ddd;
            padding: 20px;
        }
    }
    
    
    
    .footer {
        grid-area: footer;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 1rem;
    }
}


